[submodule "Project-Neural-Classification-of-Erythrocyte-Anomalies"]
	path = Project-Neural-Classification-of-Erythrocyte-Anomalies
	url = https://github.com/Gwidi/Project-Neural-Classification-of-Erythrocyte-Anomalies.git
